[Unit]
Description=Update Lightsail DNS Record
After=network.target

[Service]
EnvironmentFile=/home/barryk/src/my-vault/update-dns/.env
ExecStart=/home/barryk/src/vaultwarden/update_dns.py
Restart=on-failure

[Install]
WantedBy=multi-user.target
